{{!-- <a href="/booking/{{_id}}/details" class="added-hotel">
    <img src="{{imgUrl}}" alt="imgUrl" class="picture-added-hotel">
    <h3>{{hotel}}</h3>
    <span>Free rooms: {{freeRooms}}</span>
</a>
--}}

<div class="coin">
    <div class="coin-img">
        <img src="{{image}}">
    </div>
    <div class="coin-info">
        <h1>{{name}}</h1>
        <p><span>Price: </span>{{price}}</p>
        <p><span>Payment: </span>{{paymentMethod}}</p>
    </div>

    <a href="/crypto/{{_id}}/details" class="btn-details">Details</a>
</div>